@import '../../../src/assets/scss/variable';

.btn-link a {
  color: var(--secondary-blue);
}

.btn-outline-primary {
  color: var(--light-orange);
  border-color: var(--light-orange);
}

.btn-outline-primary:hover {
  background-color: var(--light-orange);
}

.fa-question {
  color: var(--primary-orange);
}

.fa-question:hover {
  cursor: pointer;
}

fieldset.household {
  padding: 20px;
  border-radius: 10px;
  width: inherit;
  background: #eaeaea;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

fieldset.household:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

fieldset.household > legend {
  background: var(--secondary-blue);
  color: #fff;
  padding: 0px 8px 3px 8px;
  font-weight: normal;
  font-size: 20px;
  font-weight: 600;
}

fieldset.dependent {
  width: inherit;
}

fieldset.dependent > legend {
  color: var(--light-orange);
}

.fa-trash {
  cursor: pointer;
}

.form-button-group {
  margin-bottom: 90px;
}

.heading-text {
  font-weight: 700;
  color: var(--primary-orange);
}

::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.modal-header {
  color: #fff;
  background:var(--secondary-blue);
}

.required-field {
  color: #a00723;
  font-weight: 600;
}

.sub-heading-text {
  font-weight: 600;
}
