.btn-link a {
  color: var(--link-color);
}

.btn-outline-primary {
  color: var(--main-color);
  border-color: var(--main-color);
}

.btn-outline-primary:hover {
  background-color: var(--main-color);
}

.fa-question {
  color: var(--secondary-color);
}

.fa-question:hover {
  cursor: pointer;
}

fieldset.household {
  padding: 20px;
  border-radius: 10px;
  width: inherit;
  background: var(--gray-200);
  box-shadow:
    0 1px 3px var(--shadow-black-10),
    0 1px 2px var(--shadow-black-20);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

fieldset.household:hover {
  box-shadow:
    0 14px 28px var(--shadow-black-20),
    0 10px 10px var(--shadow-black-10);
}

fieldset.household > legend {
  background: var(--secondary-color-light);
  color: var(--text-light);
  padding: 0px 8px 3px 8px;
  border-radius: 5px 5px 0px 0px;
  font-weight: normal;
  font-size: 20px;
  font-weight: 600;
}

fieldset.dependent {
  width: inherit;
}

fieldset.dependent > legend {
  color: var(--main-color);
}

.fa-trash {
  cursor: pointer;
}

.form-button-group {
  margin-bottom: 90px;
}

.heading-text {
  font-weight: 700;
  color: var(--main-color);
}

::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.modal-header {
  color: var(--text-light);
  background: var(--secondary-color-light);
}

.required-field {
  color: var(--destructive-color);
  font-weight: 600;
}

.sub-heading-text {
  font-weight: 600;
}

label {
  font-weight: 600;
  margin-bottom: 8px;
}

.question-icon {
  position: absolute;
  transform: translate(-20px, 40px);
}
