/*Theme Colors*/

:root {
  --white: #ffffff;
  --main-color: #c56724;
  --main-color-light: #dc8140;
  --secondary-color: #0f5e82;
  --secondary-color-light: #005e81;

  --background-color: #f2efef;

  --text-light: var(--white);
  --text-dark: #414141;

  --shadow-color: #e9ecef;
  --shadow-black-10: rgba(0, 0, 0, 0.12);
  --shadow-black-20: rgba(0, 0, 0, 0.24);
}
