a {
  color:var(--secondary-blue);
  font-weight: 600;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 20px;
  cursor: pointer;
}

a:hover {
  color: var(--light-orange);
}

a.active {
  color: var(--light-orange);
  text-decoration: underline;
}
