@import '../../../src/assets/scss/variable';

.main-header {
  background-color: hsl(0, 0%, 100%);
  border-bottom: solid 3px var(--secondary-blue);
  min-height: 50px;
}

.navbar {
  padding: 0px;
}

.main-link {
  font-weight: 600;
  color: #5c5c5c;
  font-size: 18px;
}

.navbar-brand {
  border-right: solid 1px hsl(0, 0%, 84%);
}

.logo-link {
  display: inline-block;
  width: 9rem;
}

.ct-logo {
  width: 100%;

  height: auto;
}
